
.card-body{
    flex: 0 1 20rem;
    padding: .4rem;
    background-color: #5B4B8A;
    border-radius: .5rem;
    color: white;
    border-style: solid;
}

.profile-avatar{
    width: 100%;
    border-radius: 5px;
}
.profile-details{
    padding: .5rem .5rem 0 .5rem;

}
.profile-name{
    font-weight: bold;
}
.profile-bio{

}
h2{
    margin-top: 2px;
    margin-bottom: 2px;

}
.delete{
}
.card-header{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
}
